@charset "UTF-8";

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #DDDDDD;
    min-height: 100vh;
    margin: 0;
    color: #eee; /* Texto branco/cinza claro para contraste */
    transition: background-color 0.3s ease-in-out;
}

.container {
    background-color: #2A4759;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.3);
    border-radius: 12px;
    padding: 40px;
    width: 550px;
    max-width: 95%;
    transition: box-shadow 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.text {
    color: #F79B72;
}